# IDEA
.idea
*.iml

# VSCode
.vscode

# Node
node_modules
package-lock.json
yarn.lock

# Logs
*.log

# Build & Distribution
build
dist

# Test
src/main
src/test
coverage

# Npm Publish
.github
.eslintrc
.babelrc
.editorconfig
.coveralls.yml
.travis.yml
CODE_OF_CONDUCT.md

# Gulp Tasks
gulpfile.js
tasks
